In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

In [3]:
df = pd.read_csv('laptops.csv')

In [4]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [5]:
len(df)

2160

In [8]:
df.Brand.nunique()

27

In [9]:
missing_columns = df.isnull().sum() > 0
count_missing_columns = missing_columns.sum()

print(f"Number of columns with missing values: {count_missing_columns}")

Number of columns with missing values: 3

In [15]:
df[df['Brand']=='Dell']['Final Price'].max()

3936.0

In [16]:
df.Screen.median()

15.6

In [17]:
df.Screen.mode()[0]

15.6

In [18]:
df.Screen.fillna(df.Screen.mode()[0]).median()

15.6

In [21]:
import pandas as pd
import numpy as np

# Assuming df is your DataFrame
# Step 1: Select all "Innjoo" laptops from the dataset
innjoo_laptops = df[df['Brand'] == 'Innjoo']

# Step 2: Select only columns RAM, Storage, Screen
X = innjoo_laptops[['RAM', 'Storage', 'Screen']].values  # Convert to NumPy array

# Step 3: Compute matrix-matrix multiplication between the transpose of X and X
XTX = X.T @ X

# Step 4: Compute the inverse of XTX
XTX_inv = np.linalg.inv(XTX)

# Step 5: Create an array y with specified values
y = np.array([1100, 1300, 800, 900, 1000, 1100])

# Step 6: Multiply the inverse of XTX with the transpose of X, then multiply the result by y
w = XTX_inv @ X.T @ y

# Step 7: Compute the sum of all elements of w
result_sum = np.sum(w)

print(f"The sum of all elements in the result is: {result_sum}")

The sum of all elements in the result is: 91.2998806299557